body{
  background-color: rgb(255, 191, 108);
}

#body-top{
  margin: 0 auto;
  justify-content: space-between;
  width:90%;
  background-color: rgb(255, 154, 154);
  border-radius: 25px;
}

.container{
  background-color:#ffebcb;
  color:white;
  margin:0 auto;;
  width:90%;
  justify-content: space-around;
  padding:1em 1em ;
}

.list-group-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:13px 0 ;
  background-color: rgb(255, 243, 228);
  font-weight:bolder;
  border-color: 2px solid black;
}

#search-form{
  margin:1.5em;
}

.card{
  background-color: rgba(168, 57, 57, 0.875);
  margin-top:1.5em ;
}
.card-img-top{
  min-height:25em;
}

.card-body{
  background-color: rgba(254, 119, 119, 0.875);
  height:6em;
  font-weight: bolder;
}
.card-footer{
  display: flex;
  justify-content: flex-end;
}
h5.card-title{
  font-weight: bold;
}

.card:hover{
  transform: scale(1.1, 1.1);
    transition: 0.5s;
}

.list-group-item:hover{
  transform: scale(1.1, 1.1);
    transition: 0.5s;
}

#result{
  color: black;
}